/*
 * ASI.PCL
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io )
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Newtonsoft.Json.Converters;
using ASI.PCL;
using ASI.PCL.Utilities;
using ASI.PCL.Http.Request;
using ASI.PCL.Http.Response;
using ASI.PCL.Http.Client;
using ASI.PCL.Exceptions;

namespace ASI.PCL.Controllers
{
    public partial class ASIESPLookupsSafetyWarningController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static ASIESPLookupsSafetyWarningController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static ASIESPLookupsSafetyWarningController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new ASIESPLookupsSafetyWarningController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// Safety warnings that may apply to the product Images These are the product images
        /// </summary>
        /// <return>Returns the void response from the API call</return>
        public void GetSafetyWarnings()
        {
            Task t = GetSafetyWarningsAsync();
            APIHelper.RunTaskSynchronously(t);
        }

        /// <summary>
        /// Safety warnings that may apply to the product Images These are the product images
        /// </summary>
        /// <return>Returns the void response from the API call</return>
        public async Task GetSafetyWarningsAsync()
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/lookup/safetywarnings");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

        }

    }
} 