/*
 * ASI.PCL
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io )
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Newtonsoft.Json.Converters;
using ASI.PCL;
using ASI.PCL.Utilities;
using ASI.PCL.Http.Request;
using ASI.PCL.Http.Response;
using ASI.PCL.Http.Client;
using ASI.PCL.Exceptions;

namespace ASI.PCL.Controllers
{
    public partial class MiscController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static MiscController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static MiscController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new MiscController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// TODO: Add Description
        /// </summary>
        /// <param name="q">Required parameter: Example: </param>
        /// <return>Returns the void response from the API call</return>
        public void GetTradeNames(string q)
        {
            Task t = GetTradeNamesAsync(q);
            APIHelper.RunTaskSynchronously(t);
        }

        /// <summary>
        /// TODO: Add Description
        /// </summary>
        /// <param name="q">Required parameter: Example: </param>
        /// <return>Returns the void response from the API call</return>
        public async Task GetTradeNamesAsync(string q)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/lookup/tradenames");

            //process optional query parameters
            APIHelper.AppendUrlWithQueryParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "q", q }
            });


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

        }

        /// <summary>
        /// Brand names associated with the product 573-5613789
        /// </summary>
        /// <param name="authToken">Required parameter: Example: </param>
        /// <param name="xid">Required parameter: Example: </param>
        /// <return>Returns the void response from the API call</return>
        public void GETASIProduct(string authToken, string xid)
        {
            Task t = GETASIProductAsync(authToken, xid);
            APIHelper.RunTaskSynchronously(t);
        }

        /// <summary>
        /// Brand names associated with the product 573-5613789
        /// </summary>
        /// <param name="authToken">Required parameter: Example: </param>
        /// <param name="xid">Required parameter: Example: </param>
        /// <return>Returns the void response from the API call</return>
        public async Task GETASIProductAsync(string authToken, string xid)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/product/{Xid}");

            //process optional template parameters
            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "Xid", xid }
            });


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "AuthToken", authToken }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

        }

    }
} 